*{
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: normal;
}

body {
    padding: 0;
    margin: 0;
    background: #E8E8E8;
}

.calculadora {
    display: grid;
    justify-content: center;
    align-content: center;
    min-height: 100vh;
    grid-template-columns: repeat(4, 100px);
    grid-template-rows: minmax(120px, auto) repeat(5, 100px);
    background-color: #30475E;
}

.calculadora>button {
    cursor: pointer;
    font-size: 2rem;
    border: none;
    outline: none;
    box-shadow: 15px 10px 0px 5px #223141;
    
   
}

.calculadora>button:hover {
    background-color: #F05454;
}

.span-two {
    grid-column: span 2;
}

.span-two-ac{
    background-color: #F05454;
    grid-column: span 2;
}



.pantalla {
    grid-column: 1 / -1;
    background-color: #222831;
    display: flex;
    align-items: flex-end;
    justify-content: space-around;
    flex-direction: column;
    padding: 10px;
    word-wrap: break-word;
    word-break: break-all;
    box-shadow: 15px 10px 0px 5px #223141;
}

.pantalla .operador-previo {
    color: #9b9b9b;
    font-size: 1.5rem;
}

.pantalla .operador-actual {
    color: #E8E8E8;
    font-size: 2.5rem;
}